.literatures li {
	margin-bottom: 5px;
	word-wrap: break-word;
}

ol {
	margin-left: 0;
	padding: 20px;
}

.title {
	font-size: 28px;
	text-align: center;
	margin: 15px;
	margin-bottom: 0;
}

h2 {
	font-size: 24px;
}

.content {
	margin: 25px;
	margin-top: 0;
	padding-top: 0;
	border-radius: 10px;
	padding: 15px;
	padding-left: 25px;
}

.autors {
	margin-right: 25px;
	border-bottom: 8px solid #4C83AC;
	padding-bottom: 25px;
	margin-left: 25px;
}

.annotation {
	margin-right: 25px;
	border-bottom: 8px solid #4C83AC;
	padding-bottom: 25px;
	margin-left: 25px;
	padding-top: 10px;
}

.keywords {
	margin-right: 25px;
	border-bottom: 8px solid #4C83AC;
	padding-bottom: 25px;
	margin-left: 25px;
	padding-top: 10px;
}

.citation {
	display: flex;
	flex-direction: column;
	border-bottom: 8px solid #4C83AC;
	padding-bottom: 25px;
	padding-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

video {
	display: block;
	border-radius: 15px;
	width: 75%;
	height: auto;
	max-height: 100%;
  	margin-left: auto;
	margin-right: auto;
}


.video {
	border-bottom: 8px solid #4C83AC;
	padding-bottom: 25px;
	padding-top: 10px;
  	margin-right: 25px;
	margin-left: 25px;
	padding-bottom: 50px;
}


.video h2{
	padding-bottom: 20px;
}


main p {
	word-wrap: break-word;
	margin-left: 0px;
}

.download {
	text-align: center;
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 0;
	border-radius: 15px;
	margin-top: 40px;
	width: 20%;
	padding: 15px;
}
.link {
	font-family: "Helvetica";
	display: block;
	margin: 45px 25px;
	font-size: 20px;
}

.link a {
	font-style: italic;
}

.literatures {
	margin-left: 25px;
}

.keywords span {
	display: inline-block;
	margin: 10px 15px 10px 0;
	color: black;
	padding: 10px;
	border-radius: 5px;
	background: linear-gradient(45deg, rgba(234, 209, 255, 0.8), rgba(255, 249, 222, 0.8));
}

.citation-button {
	border-radius: 5px;
	background-color: #4C83AC;
	padding: 15px;
	margin: 5px auto;
	align-self: center;
	color: white;
}

@media screen and (max-width: 1200px) {
video {
	width: 90%;
}
}


@media screen and (max-width: 600px) {
	main .title {
	font-size: 20px;
}

.download {
	width: 40%;
}

video {
	width: 100%;
}

.content {
	margin: 10px;
	padding: 10px;
}

.autors {
	margin-right: 10px;
	margin-left: 10px;
}

.annotation {
	margin-right: 10px;
	margin-left: 10px;
}

.keywords {
	margin-right: 10px;
	margin-left: 10px;
}

.citation {
	margin-right: 10px;
	margin-left: 10px;
}

.link {
	margin: 45px 10px;
}

.literatures {
	margin-left: 10px;
}
}