button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.archive h1 {
	margin-left: 10px;
	font-size: 24px;
}

.archive {
	margin-top: 5px;
}

.year {
	border-top: 8px solid #4C83AC;
	padding-top: 25px;
	display: grid;  
	justify-items: space-before;
	align-items: center;
	column-gap: 3.33%;
	grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
}

.edition .journal{
	//border: 1px solid #363636;
	//border-radius: 5px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
	text-decoration: none;
	color: #363636;
}

.edition img {
	width: 100%;
}

.edition .journal button p {
	font-family: "Helvetica";
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

.year h3{
	font-family: "Helvetica";
	margin: 0;
	grid-column: 1/5;
	margin-left: 20px;
	font-size: 24px;
	font-weight: bold;
}

@media screen and (max-width: 1000px) {
	.year {
	border-top: 8px solid #4C83AC;
	padding-top: 25px;
	display: grid;  
	justify-items: space-before;
	align-items: center;
	column-gap: 3.33%;
	grid-template-columns: 45% 45%;
}

.edition:nth-child(2n) {
	grid-column: 1/2;
}

.edition:nth-child(2n - 1) {
	grid-column: 2/3;
}
}