body {
	font-family: "Arial";
}

.archive h1 {
	margin-left: 10px;
	font-family: "Arial";
	font-size: 24px;
}

.archive {
	margin-top: 5px;
}

.year {
	display: grid;  
	justify-items: space-before;
	align-items: center;
	column-gap: 3.33%;
	grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
}

.edition a{
	//border: 1px solid #363636;
	//border-radius: 5px;
	padding: 15px;
	display: flex;
	flex-direction: column;

	text-decoration: none;
	color: #363636;
}

.edition a p{
	text-align: center;
	font-family: "Arial";
	font-size: 15px;
	font-weight: bold;
}

.year h3{
	margin: 0;
	grid-column: 1/5;
	margin-left: 20px;
	font-family: "Arial";
	font-size: 24px;
	font-weight: bold;
}